*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/com/nikame/glcore/ExampleInstrumentedTest.kt
/glEngine/src/androidTest/java/com/nikame/glengine/ExampleInstrumentedTest.kt
/spaceRunner1/src/androidTest/java/com/nikame/spacerunner1/ExampleInstrumentedTest.kt
/app/src/test/java/com/nikame/glcore/ExampleUnitTest.kt
/glEngine/src/test/java/com/nikame/glengine/ExampleUnitTest.kt
/spaceRunner1/src/test/java/com/nikame/spacerunner1/ExampleUnitTest.kt
